@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Regular-webfont.eot');
    src: url('./fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('./fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('./fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('./fonts/OpenSans-Light-webfont.eot');
    src: url('./fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('./fonts/OpenSans-Light-webfont.ttf') format('truetype'),
    url('./fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{background: #222; color: #fff; font-family: 'Open Sans';}
div{box-sizing: border-box}
#grad1 {
    height: 200px;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); /* Standard syntax (must be last) */
}
/*
#container{
    /background: url(slide-2.jpg) 0 0 no-repeat;
    background-size: cover;
    float: left;
    width: 100%;
    min-height: 800px;
    position: relative;
    
}
#bubbles{
    position: absolute;
    left: 0; top: 0; width:100%; height:100%;
}
#bubbles span{height: 10px; width:10px; border-radius: 100%; background:#fff; float: left; opacity:0; transition:opacity ease-out 1000ms}
#bubbles span:hover{opacity:0.5}*/
h2{    position: absolute;
    left: 5%;
    font-size: 3rem;
    line-height: 4rem;
    top: 28%;
    text-shadow: 1px 1px 3px rgba(0,0,0,.6);}
    
.text, .newText{float:left; margin-right:8px} 
.newText{color:#ff8923;}
.cursor{height: 4rem; width:2px; background:#fff; float:left;  position: relative;
-webkit-animation:cursors 1s infinite;
animation:cursors 1s infinite}
@-webkit-keyframes cursors {
    0% {opacity: 0;}
    10% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}@keyframes cursors {
    0% {opacity: 0;}
    10% {opacity: 1;}
    50% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
.dashboard{float: left; width:100%; display: flex; padding-top: 30px;}
.two-col{float: left; width:50%; padding:5px;}
.widget{margin-bottom: 10px;     float: left;
    width: 100%; min-width: 300px;}
.widget .widget-content{border: 1px solid #585e65; background: #222; float: left; width:100%;   padding: 5px;  min-height: 200px;}
.widget .widget-actions{    border: 1px solid #585e65;
    background: #222;
    float: right;
    padding: 2px;
    position: relative;
    margin-bottom: -1px;
    border-bottom: none;}
.widget .widget-actions div{float: left;
    transition: background ease-in 200ms;
    padding: 0px 5px;
    height: 19px; cursor: pointer;
    font-size: 12px;
    background: #222;}
.widget .widget-actions div:hover{background: #444;}
.actions-bar{    position: absolute;
    top: 10px;
    left: 10px;}
.dashboard-col{}